<a href="https://colab.research.google.com/github/ShaikRizwana2004/DW_DVA/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#list comprehension
seq=[1,2,3,4,5,6,7,8,9]
comp={i:i**2 for i in seq if i%2==0}
print(comp)

{2: 4, 4: 16, 6: 36, 8: 64}

In [ ]:
d={"rizzu":2,"janu":3,3:"noushii"}
print(d["rizzu"])
print(d[3])

2
noushii

In [ ]:
s=set()
s.add(1)
print(s)
s1=set()
print(s1)

{1}
set()

In [ ]:
def product(*args):
  print(type(args))
  res=1
  for i in args:
     res*=i
  return res
print(product(1,2,4,5,3))

<class 'tuple'>
120

In [ ]:
t1=1,2,3,4,5
print(type(t1))
print(t1[2])

<class 'tuple'>
3

In [ ]:
s1={1,5,5,5,6,6,7,8,9}
print(s1)

{1, 5, 6, 7, 8, 9}

In [ ]:
#function to sum of digits untill 1 digit
def digitalSum(n):
   s=str(n)
   sum=0
   for i in s:
      sum+=int(i)
   if(len(s)==1):
      return sum
   return digitalSum(sum)
print(digitalSum(12345))

In [11]:
#fibo th number
n=int(input("enter the number"))
a=0
b=1
l=[0,0]
for i in range(n-1):
   c=a+b
   a=b
   b=c
   l.append(c)
print(l[n-1])

enter the number5
3

In [ ]:
def fib(n):
  if n==0:
    return 0
  if n==1:
    return 1
  return fib(n-1)+fib(n-2)
print(fib(5))

In [ ]:
s=("1234")
print(list(s))